<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
		<link rel="stylesheet" href="/assets/styles/header.css"/>
		<link rel="stylesheet" href="/assets/styles/start.css"/>
	</head>

<body class="start-page">
	<div class="page-hero">
		<div class="inside-page-hero grid-container grid-parent">
			<h1 style="text-shadow: 3px 2px 9px var(--base-2);">
				The Letters of<br>
			Belle da Costa Greene<br>
			to Bernard Berenson
			</h1>
		</div>
	</div>
	<div class="site grid-container container hfeed" id="page">
		<div class="site-content" id="content">	
			<div class="content-area" id="primary">
				<main class="site-main" id="main">
			
					<article id="post-2" class="post-2 page type-page status-publish" itemtype="https://schema.org/CreativeWork" itemscope="">
						<div class="inside-article">			
							<div class="entry-content" itemprop="text">
								<div class="gb-container gb-container-78f3aec8 alignfull"><div class="gb-inside-container">
									<h3 class="gb-headline gb-headline-1a3fc9e8 gb-headline-text">Traveling the long distance from New York City to Florence, the letters of Belle Greene to Bernard Berenson document one of the art world’s most extraordinary relationships.</h3>

									<div class="gb-container gb-container-b29a090d">
										<div class="gb-inside-container">
											<p>Belle Greene ran the Morgan Library for forty-three years—initially as the private librarian of J. Pierpont Morgan and then his son, Jack, and later as the inaugural director of the Pierpont Morgan Library (now the Morgan Library &amp; Museum).</p>
											<p>She attracted considerable attention both in the press and from her many admirers, among them the Italian Renaissance art historian, scholar, and connoisseur Bernard Berenson (1865–1959).</p>

										</div>
									</div>

									<div class="gb-button-wrapper gb-button-wrapper-77e947b6">
										<a class="gb-button gb-button-01767784" href="/resource/rsp:Introduction"><span class="gb-button-text">READ MORE</span><span class="gb-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span></a>
									</div>
								</div>
							</div>

							<div class="gb-container gb-container-d9d9fef5 alignfull"><div class="gb-inside-container">
								<blockquote class="wp-block-quote">
								<p>“J.P. is so well trained now that he rarely ever buys a book or mss without consulting me by cable or letter first”</p>
								<cite>Belle Greene to Bernard Berenson, 21 February 1911</cite></blockquote>
							</div>
						</div>

							<div class="gb-container gb-container-0a3da7c2 alignfull">
								<div class="gb-inside-container">
									<h2 class="gb-headline gb-headline-ddcfa822 gb-headline-text">The Letters</h2>
									<h4 class="gb-headline gb-headline-4948a6b7 gb-headline-text">Following their introduction in early 1909, Greene and Berenson maintained a decades-long epistolary relationship, occasionally sharing time together in Europe or America: they were lovers, but also friends and intellectual peers.</h4>
									<div class="gb-container gb-container-8300ff91"><div class="gb-inside-container">
										<p>While Greene seems to have destroyed Berenson’s letters to her, hers to him remain at I Tatti, the former home of Bernard and his wife, Mary, on the outskirts of Florence, now the Harvard University Center for Italian Renaissance Studies.</p>
										<p>These letters, which span the period February 1909 to March 1949, constitute by far the most substantial surviving archive of personal papers associated with Greene.</p>

								</div>
							</div>

							<div class="gb-button-wrapper gb-button-wrapper-fc62fe92">
								<a class="gb-button gb-button-20528153" href="/resource/rsp:Letters"><span class="gb-button-text">view the letters</span><span class="gb-icon"><svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 256 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></span></a>
							</div>
						</div>
					</div>

					<div class="gb-container gb-container-869b9991 alignfull">
						<div class="gb-inside-container">
							<h2 class="gb-headline gb-headline-f5222193 gb-headline-text">Highlighted Letters</h2>
							<div class="gb-container gb-container-1e29a0e3"><div class="gb-inside-container">

								<p>Greene’s letters to Berenson touch on a variety of subjects and are written in a vibrant prose style reflective of her personality. These ten highlighted letters showcase her epistolary powers while documenting key moments in her career as a librarian.&nbsp;</p>
							</div>
						</div>

					<div class="gb-grid-wrapper gb-grid-wrapper-86c88779">
						<div class="gb-grid-column gb-grid-column-c17c90ee">
							<div class="gb-container gb-container-c17c90ee">
								<div class="gb-inside-container">

									<figure class="gb-block-image gb-block-image-821c9a9f">
										<a href="#">
											<img decoding="async" loading="lazy" width="300" height="188" class="gb-image gb-image-821c9a9f" 
											src="/assets/images/start/image001.jpg" 
											alt="" title="32044150446383_001-(FIRST-LETTER)" 
											srcset="/assets/images/start/image001.jpg, 
											/assets/images/start/image001.jpg 1024w, 
											/assets/images/start/image001.jpg 768w, 
											/assets/images/start/image001.jpg 1536w, 
											/assets/images/start/image001.jpg 1920w" sizes="(max-width: 300px) 100vw, 300px">
										</a>
									</figure>
									<h5 class="gb-headline gb-headline-3a6a5289 gb-headline-text" style="color: #F4EFE4">THE FIRST LETTER</h5>
									<h6 class="gb-headline gb-headline-8df4513c gb-headline-text" style="color: #F4EFE4">2/23/1909</h6>

								</div>
							</div>
						</div>

					<div class="gb-grid-column gb-grid-column-f773878f">
						<div class="gb-container gb-container-f773878f">
							<div class="gb-inside-container">
								<figure class="gb-block-image gb-block-image-85329d34">
									<a href="#">
										<img decoding="async" loading="lazy" width="300" height="174" class="gb-image gb-image-85329d34" 
										src="/assets/images/start/image002.jpg" alt="" title="32044150446375_012" 
										srcset="/assets/images/start/image002.jpg 300w, 
										/assets/images/start/image002.jpg 768w, 
										/assets/images/start/image002.jpg 960w" sizes="(max-width: 300px) 100vw, 300px">
									</a>
								</figure>
								<h5 class="gb-headline gb-headline-77957b0c gb-headline-text" style="color: #F4EFE4">GREENE IN NATURE</h5>
								<h6 class="gb-headline gb-headline-19326f91 gb-headline-text" style="color: #F4EFE4">4/11/1909</h6>	
							</div>
						</div>
					</div>

					<div class="gb-grid-column gb-grid-column-ea6e32e1">
						<div class="gb-container gb-container-ea6e32e1">
							<div class="gb-inside-container">
								<figure class="gb-block-image gb-block-image-19187c87">
									<img decoding="async" loading="lazy" width="300" height="175" class="gb-image gb-image-19187c87" 
									src="/assets/images/start/image003.jpg" alt="" title="32044150446391_047" 
									srcset="/assets/images/start/image003.jpg 300w, 
									/assets/images/start/image003.jpg 768w, 
									/assets/images/start/image003.jpg 960w" sizes="(max-width: 300px) 100vw, 300px"></figure>
									<h5 class="gb-headline gb-headline-cce90542 gb-headline-text" style="color: #F4EFE4">DEFENDING MORGAN</h5>
									<h6 class="gb-headline gb-headline-08ff4fb6 gb-headline-text" style="color: #F4EFE4">6/15/1909</h6>
							</div>
						</div>
					</div>

					<div class="gb-grid-column gb-grid-column-dfe80ab7">
						<div class="gb-container gb-container-dfe80ab7">
							<div class="gb-inside-container">

								<figure class="gb-block-image gb-block-image-79038c8f">
									<img decoding="async" loading="lazy" width="300" height="175" class="gb-image gb-image-79038c8f" 
									src="/assets/images/start/image004.jpg" alt="" title="32044150448397_002" 
									srcset="/assets/images/start/image004.jpg 300w, 
									/assets/images/start/image004.jpg 1024w, 
									/assets/images/start/image004.jpg 768w, 
									/assets/images/start/image004.jpg 1536w, 
									/assets/images/start/image004.jpg 1920w" sizes="(max-width: 300px) 100vw, 300px">
								</figure>
								<h5 class="gb-headline gb-headline-0e6f4719 gb-headline-text" style="color: #F4EFE4">BELLE GREENE’S DIARY</h5>
								<h6 class="gb-headline gb-headline-6093b896 gb-headline-text" style="color: #F4EFE4">9/12/1909</h6>
							</div>
						</div>
					</div>

					<div class="gb-grid-column gb-grid-column-444296b1">
						<div class="gb-container gb-container-444296b1">
							<div class="gb-inside-container">
								<figure class="gb-block-image gb-block-image-dd5a87c4">
									<img decoding="async" loading="lazy" width="300" height="175" class="gb-image gb-image-dd5a87c4" 
									src="/assets/images/start/image005.jpg" alt="" title="32044150448405_038" 
									srcset="/assets/images/start/image005.jpg 300w, 
									/assets/images/start/image005.jpg 768w, 
									/assets/images/start/image005.jpg 960w" sizes="(max-width: 300px) 100vw, 300px"></figure>
									<h5 class="gb-headline gb-headline-e6677ad5 gb-headline-text" style="color: #F4EFE4">GREENE AT 291 GALLERY</h5>
									<h6 class="gb-headline gb-headline-8ed8c057 gb-headline-text" style="color: #F4EFE4">3/1/1910</h6>

							</div>
						</div>
					</div>

					<div class="gb-grid-column gb-grid-column-444296b1">
						<div class="gb-container gb-container-444296b1">
								<div class="gb-inside-container">
										<figure class="gb-block-image gb-block-image-dd5a87c4">
												<img decoding="async" loading="lazy" width="300" height="175" class="gb-image gb-image-dd5a87c4" 
												src="/assets/images/start/image006.jpg" alt="" title="32044150448405_038" 
												srcset="/assets/images/start/image006.jpg 300w, 
												/assets/images/start/image006.jpg 768w, 
												/assets/images/start/image006.jpg 960w" sizes="(max-width: 300px) 100vw, 300px">
										</figure>
										<h5 class="gb-headline gb-headline-e6677ad5 gb-headline-text" style="color: #F4EFE4">GREENE AT 291 GALLERY</h5>
										<h6 class="gb-headline gb-headline-8ed8c057 gb-headline-text" style="color: #F4EFE4">3/1/1910</h6>
								</div>
						</div>
					</div>

					<div class="gb-grid-column gb-grid-column-0097ba5b">
							<div class="gb-container gb-container-0097ba5b">
									<div class="gb-inside-container">
											<figure class="gb-block-image gb-block-image-5b591734">
													<a href="#">
															<img decoding="async" loading="lazy" width="300" height="233" class="gb-image gb-image-5b591734" 
															src="/assets/images/start/image007.jpg" alt="" title="32044150448447_064" 
															srcset="/assets/images/start/image007.jpg 300w, 
															/assets/images/start/image007.jpg 768w, 
															/assets/images/start/image007.jpg 960w" sizes="(max-width: 300px) 100vw, 300px">
													</a>
											</figure>
											<h5 class="gb-headline gb-headline-1370d43b gb-headline-text" style="color: #F4EFE4">LONG-DISTANCE RELATIONSHIP</h5>
											<h6 class="gb-headline gb-headline-9c3a8566 gb-headline-text" style="color: #F4EFE4">10/27/1910</h6>
									</div>
							</div>
					</div>

					<div class="gb-grid-column gb-grid-column-fe9418f5">
							<div class="gb-container gb-container-fe9418f5">
									<div class="gb-inside-container">
											<figure class="gb-block-image gb-block-image-c407fe3e">
													<a href="#">
															<img decoding="async" loading="lazy" width="261" height="300" class="gb-image gb-image-c407fe3e" 
															src="/assets/images/start/image008.jpg" alt="" title="32044150448488_064" 
															srcset="/assets/images/start/image008.jpg 261w, 
															/assets/images/start/image008.jpg 891w,
															/assets/images/start/image008.jpg 768w, 
															/assets/images/start/image008.jpg 960w" sizes="(max-width: 261px) 100vw, 261px">
													</a>
											</figure>
											<h5 class="gb-headline gb-headline-ada96fa9 gb-headline-text" style="color: #F4EFE4">ART, GRAPEFRUIT, AND A BIG RAISE</h5>
											<h6 class="gb-headline gb-headline-ac6623de gb-headline-text" style="color: #F4EFE4">1/19/1911</h6>
									</div>
							</div>
					</div>

					<div class="gb-grid-column gb-grid-column-0c352026">
							<div class="gb-container gb-container-0c352026">
									<div class="gb-inside-container">
											<figure class="gb-block-image gb-block-image-e3a0cce6">
													<img decoding="async" loading="lazy" width="196" height="300" class="gb-image gb-image-e3a0cce6" 
													src="/assets/images/start/image009.jpg" alt="" title="32044150448595_025" 
													srcset="/assets/images/start/image009.jpg 196w, 
													/assets/images/start/image009.jpg 667w, 
													/assets/images/start/image009.jpg 768w, 
													/assets/images/start/image009.jpg 960w" sizes="(max-width: 196px) 100vw, 196px">
											</figure>
											<h5 class="gb-headline gb-headline-af5ab476 gb-headline-text" style="color: #F4EFE4">A NEW APARTMENT</h5>
											<h6 class="gb-headline gb-headline-556e7c25 gb-headline-text" style="color: #F4EFE4">7/9/1912</h6>
									</div>
							</div>
					</div>

					<div class="gb-grid-column gb-grid-column-c88382b9">
							<div class="gb-container gb-container-c88382b9">
									<div class="gb-inside-container">
											<figure class="gb-block-image gb-block-image-b9a5ec78">
													<img decoding="async" loading="lazy" width="300" height="243" class="gb-image gb-image-b9a5ec78" 
													src="/assets/images/start/image010.jpg" alt="THE DEATH OF MORGAN" title="THE DEATH OF MORGAN" 
													srcset="/assets/images/start/image010.jpg 300w, 
													/assets/images/start/image010.jpg 768w, 
													/assets/images/start/image010.jpg 960w" sizes="(max-width: 300px) 100vw, 300px">
											</figure>
											<h5 class="gb-headline gb-headline-c6952b18 gb-headline-text" style="color: #F4EFE4">THE DEATH OF MORGAN</h5>
											<h6 class="gb-headline gb-headline-c9a76708 gb-headline-text" style="color: #F4EFE4">4/12/1913</h6>
									</div>
							</div>
					</div>		
			</div>
		</div>
	</article>	
</main>	
</div>	
</div>
</div>

</body>
</html>