<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
      <link rel="stylesheet" href="/assets/styles/header.css"/>
      <link rel="stylesheet" href="/assets/styles/handwriting.css"/>
   </head>
   <body data-rsssl="1" class="page-template-default">
      <div class="page-hero">
         <div class="inside-page-hero grid-container grid-parent">
            <h1>Belle Greene’s<br>Handwriting</h1>
            <h4>During her lifetime Belle Greene primarily employed two distinct forms of handwriting, or hands, to write letters, notes, and professional documents.</h4>
         </div>
      </div>
      <div class="site grid-container container hfeed" id="page">
         <div class="gb-container gb-container-2c30da96 alignfull">
            <div class="gb-inside-container">
               <div class="gb-grid-wrapper gb-grid-wrapper-cb8539a1">
                  <div class="gb-grid-column gb-grid-column-d30c89dc">
                     <div class="gb-container gb-container-d30c89dc">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-3825e78d">
                              <img decoding="async" loading="lazy" width="960" height="553" class="gb-image gb-image-4126437d" src="/assets/images/handwriting/image1010.jpg" alt="" title="32044150446375_001" srcset="/assets/images/handwriting/image1010.jpg 960w, # 768w" sizes="(max-width: 960px) 100vw, 960px">
                           </figure>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-bef78c8a">
                     <div class="gb-container gb-container-bef78c8a">
                        <div class="gb-inside-container">
                           <p>One is a hand she seems to have learned in a library science summer course at Amherst College in the summer of 1900. She would later use this hand to write out catalogue cards at the Morgan Library.</p>
                           <p>Greene used this script in much of the handwritten documentation she produced while working at J. Pierpont Morgan’s library, including cataloging documents (cards, lists, accession books), notes on collection objects, and professional correspondence. After 1925 she began to favor this hand even in her private correspondence.</p>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-2d069424">
                     <div class="gb-container gb-container-2d069424">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-4126437d">
                              <img decoding="async" loading="lazy" width="960" height="553" class="gb-image gb-image-4126437d" src="/assets/images/handwriting/letter.jpg" alt="" title="32044150446375_001" srcset="/assets/images/handwriting/letter.jpg 960w, /assets/images/handwriting/letter.jpg 768w" sizes="(max-width: 960px) 100vw, 960px">
                           </figure>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-235b1cb1">
                     <div class="gb-container gb-container-235b1cb1">
                        <div class="gb-inside-container">
                           <p>The majority of Greene’s letters to Berenson were written in her cursive handwriting, which could achieve a more rapid execution as a “running” hand, though at the expense of legibility. Greene’s cursive hand, especially in her earliest letters to Berenson from 1909, can be difficult to read. She frequently refers to her writing as “scrawl” or “a scrawl,” and it appears she uses this word not only to refer to bad handwriting or penmanship but also hastily written or short letters.</p>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-13db3a12">
                     <div class="gb-container gb-container-13db3a12">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-0164afaa">
                              <img decoding="async" loading="lazy" width="960" height="541" class="gb-image gb-image-0164afaa" src="/assets/images/handwriting/image2742.jpg 768w" srcset="/assets/images/handwriting/image2742.jpg 768w" sizes="(max-width: 960px) 100vw, 960px">
                           </figure>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-b3903754">
                     <div class="gb-container gb-container-b3903754">
                        <div class="gb-inside-container">
                           <p>While training transcribers for the project, Morgan Library &amp; Museum staff developed visual “cheat sheets” of the letters, numbers, and common words used by Greene in her correspondence. Many of Greene’s miniscule (i.e., lower case) letters can be tricky to read because they resemble other common letters (e, r, l, m, n, u), take variant forms (e, r, t), and/or diverge considerably in appearance from more familiar cursive forms (h, p). The full set of cheat sheets can be accessed via PDF
                              <a href="/file/How-to-read-BGs-handwriting.pdf" download="How-to-read-BGs-handwriting.pdf">here</a>.
                           </p>
                        </div>
                     </div>
                  </div>                  
                  <div class="gb-grid-column gb-grid-column-2825495e">
                     <div class="gb-container gb-container-2825495e">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-337004a4">
                              <img decoding="async" loading="lazy" width="960" height="535" class="gb-image gb-image-337004a4" src="/assets/images/handwriting/image3274.jpg" alt="" title="Letterhead" srcset="/assets/images/handwriting/image3274.jpg 768w" sizes="(max-width: 960px) 100vw, 960px">
                           </figure>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-525405bd">
                     <div class="gb-container gb-container-525405bd">
                        <div class="gb-inside-container">
                           <p>Occasionally unanticipated material conditions—often encountered while traveling— affected Greene’s handwriting, such as the failure of a pen, unsuitability of available writing implements, poor paper quality, and disruptive vibrations of car and train travel.</p>
                           <p>Belle Greene uses a variety of stationery during her four decades of correspondence with Berenson. The stationery documents a number of biographical details about Greene and the Morgan Library, as the letterhead cycles through several of her personal addresses and various permutations of the Morgan Library’s graphic identity on paper.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>