<body data-rsssl="1">
   <head>
      <meta charset="UTF-8">
      <title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
      <link rel="stylesheet" href="/assets/styles/header.css"/>
      <link rel="stylesheet" href="/assets/styles/letters.css"/>
   </head>
   <div class="page-hero">
      <div class="inside-page-hero grid-container grid-parent">
         <h1>
            The Letters of<br>
            Belle da Costa Greene<br>
            and Bernard Berenson
         </h1>
         <p>
            The more than 600 letters exchanged between Belle da Costa Greene and Bernard Berenson comprise one of the twentieth century’s most fascinating sets of correspondence.<br>Written by the formidable
             and brilliant Librarian and Director of the Morgan Library to the preeminent art historian of the age, the letters open a window onto the compelling world of rare books, art, and society in New York, 
             1910–1950.<br><br>	This website presents high-resolution images and full-text transcriptions of Belle Greene’s 600+ letters to Bernard Berenson. <strong>Phase One, amounting to the first fifty letters,
                is currently available, with the remainder of the correspondence slated to be published online by October 2024. High resolution images for the entire corpus of Greene's letters to Berenson can be
                 accessed through the <a href="https://hollisarchives.lib.harvard.edu/repositories/10/archival_objects/2167675" target="blank">Bernard and Mary Berenson Papers Finding Aid.</a></strong>
         </p>
         <button>
         <a href="/resource/rsp:Introduction">READ THE FULL INTRO</a> 
         </button>
      </div>
   </div>
   <div class="gb-container gb-container-e4d5fd40 alignfull">
      <div class="gb-inside-container">
         <div class="gb-grid-wrapper gb-grid-wrapper-0f1bd015">
            <div class="gb-grid-column gb-grid-column-e94175fd">
               <div class="gb-container gb-container-e94175fd">
                  <div class="gb-inside-container">
                     <div class="gb-button-wrapper gb-button-wrapper-3e5475dc">
                        <span class="gb-button gb-button-2e1cd97b gb-button-text">Filters</span>
                     </div>
                     <hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-wide">
                     <div class="gb-button-wrapper gb-button-wrapper-77e2a710">
                        <a class="gb-button gb-button-b9317545" href="#">
                           <span class="gb-button-text">Date</span>
                           <span class="gb-icon">
                              <svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                 <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                              </svg>
                           </span>
                        </a>
                     </div>
                     <div class="gb-button-wrapper gb-button-wrapper-5e1c30fa">
                        <a class="gb-button gb-button-c0438898" href="#">
                           <span class="gb-button-text">Place</span>
                           <span class="gb-icon">
                              <svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                 <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                              </svg>
                           </span>
                        </a>
                     </div>
                     <div class="gb-button-wrapper gb-button-wrapper-733cd5ae">
                        <a class="gb-button gb-button-8b56efd3" href="#">
                           <span class="gb-button-text">People</span>
                           <span class="gb-icon">
                              <svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                 <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                              </svg>
                           </span>
                        </a>
                     </div>
                     <div class="gb-button-wrapper gb-button-wrapper-0e4ab154">
                        <a class="gb-button gb-button-ba4d1076" href="#">
                           <span class="gb-button-text">Subjects</span>
                           <span class="gb-icon">
                              <svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                 <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                              </svg>
                           </span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="gb-grid-column gb-grid-column-325379de">
               <div class="gb-container gb-container-325379de">
                  <div class="gb-inside-container">
                     <div class="gb-grid-wrapper gb-grid-wrapper-eef6e047">
                        <div class="gb-grid-column gb-grid-column-8c4d18ff">
                           <div class="gb-container gb-container-8c4d18ff">
                              <div class="gb-inside-container">
                                 <p class="seicento has-small-font-size" style="font-style:normal;font-weight:600">600 items</p>
                              </div>
                           </div>
                        </div>
                        <div class="gb-grid-column gb-grid-column-38a7da5d">
                           <div class="gb-container gb-container-38a7da5d">
                              <div class="gb-inside-container">
                                 <div class="gb-button-wrapper gb-button-wrapper-c0cb3cb0">
                                    <a class="gb-button gb-button-6a4475d6" href="#">
                                       <span class="gb-icon">
                                          <svg aria-hidden="true" role="img" height="1em" width="1em" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                                             <path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                                          </svg>
                                       </span>
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <hr class="wp-block-separator has-text-color has-contrast-color has-alpha-channel-opacity has-contrast-background-color has-background is-style-wide">
                     <div class="gb-grid-wrapper gb-grid-wrapper-7ec514a2 letters-result-container">
                        <div>
                           <semantic-table query=' 
                     
                           PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
                           PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                           PREFIX custom: <https://belle-greene.com/resource/custom/>

                           SELECT ?Letter
                           WHERE {
                           ?Letter a custom:Letter.
                           }
                           ORDER BY ?Letter

                     
                           
                     '
                     number-of-displayed-rows=10
                     options='{"showFilter": true}'
                              >
                           </semantic-table>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</body>