<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
		<link rel="stylesheet" href="/assets/styles/header.css"/>
		<link rel="stylesheet" href="/assets/styles/start.css"/>
	</head>

	<body data-rsssl="1" class="page-template-default page page-id-57 logged-in wp-custom-logo wp-embed-responsive post-image-aligned-center slideout-enabled slideout-mobile sticky-menu-fade sticky-enabled both-sticky-menu no-sidebar nav-float-right one-container nav-search-enabled header-aligned-left dropdown-hover offside-js--init" itemtype="https://schema.org/WebPage" itemscope="">
		<div class="site grid-container container hfeed" id="page">
			 <div class="site-content" id="content">
					<div class="content-area" id="primary">
						 <main class="site-main" id="main">
								<article id="post-57" class="post-57 page type-page status-publish" itemtype="https://schema.org/CreativeWork" itemscope="">
									 <div class="inside-article">
											<header class="entry-header" aria-label="Content">
												 <h1 class="entry-title" itemprop="headline">People mentioned in the letters</h1>
											</header>
											<div class="entry-content" itemprop="text">
											</div>
									 </div>
								</article>
						 </main>
					</div>
			 </div>
		</div>
 </body>