<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
      <link rel="stylesheet" href="/assets/styles/header.css"/>
      <link rel="stylesheet" href="/assets/styles/belledacostagreene.css"/>
   </head>
   <body data-rsssl="1" class="page-template-default">
      <div class="page-hero">
         <div class="inside-page-hero grid-parent">
            <h1>
               Belle da Costa Greene
            </h1>
            <p>
               Belle da Costa Greene (1879–1950) was one of the most prominent librarians in American history. She ran the Morgan Library for forty-three years—initially as the private librarian of J. Pierpont Morgan and then his son, Jack, and later as the inaugural director of the Pierpont Morgan Library (now the Morgan Library &amp; Museum). Not only did Greene build one of the most important collections of rare books and manuscripts in the United States, but she also transformed an exclusive private collection into a major public resource, originating the robust program of exhibitions, lectures, publications, and research services that continues today. 
            </p>
            <button>
            <a class="smooth-scroll" href="#belle-greene-bio">READ MORE</a> 
            </button>
         </div>
      </div>
      <div class="site grid-container container hfeed" id="page">
         <div class="entry-content" itemprop="text">
            <div class="gb-container gb-container-2598e3a2 alignfull" id="belle-greene-bio">
               <div class="gb-inside-container">
                  <div class="gb-grid-wrapper gb-grid-wrapper-84ae3696">
                     <div class="gb-grid-column gb-grid-column-16a1b5d7">
                        <div class="gb-container gb-container-16a1b5d7">
                           <div class="gb-inside-container">
                              <p>The daughter of Genevieve Ida Fleet Greener (1849–1941) and Richard T. Greener (1844–1922), Belle Greene (named Belle Marion Greener at birth) grew up in a predominantly African American community in Washington, DC. Her father was the first Black graduate of Harvard College and a prominent educator, diplomat, and racial justice activist. After Belle’s parents separated during her adolescence, Genevieve changed her surname and that of her children to Greene. From the time Belle was a teenager, they described themselves as Americans of Portuguese descent and passed as White in a segregated and deeply racist society.</p>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-40e507cb">
                        <div class="gb-container gb-container-40e507cb">
                           <div class="gb-inside-container">
                              <figure class="gb-block-image gb-block-image-ef689bef"><img decoding="async" loading="lazy" width="694" height="1024" class="gb-image gb-image-ef689bef" 
                                 src="/assets/images/belle_da_costa_greene/image002.jpg" alt="" title="5759904" 
                                 srcset="/assets/images/belle_da_costa_greene/image002.jpg 694w, 
                                 /assets/images/belle_da_costa_greene/image002.jpg 203w, 
                                 /assets/images/belle_da_costa_greene/image002.jpg 768w, 
                                 /assets/images/belle_da_costa_greene/image002.jpg 1041w, 
                                 /assets/images/belle_da_costa_greene/image002.jpg 1200w" sizes="(max-width: 694px) 100vw, 694px"></figure>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-ed6d7ee5">
                        <div class="gb-container gb-container-ed6d7ee5">
                           <div class="gb-inside-container">
                              <figure class="gb-block-image gb-block-image-088107c7"><img decoding="async" loading="lazy" width="765" height="1024" class="gb-image gb-image-088107c7"
                                 src="/assets/images/belle_da_costa_greene/image003.jpg" 
                                 alt="" title="Junius-Spencer-Morgan-(nephew)" 
                                 srcset="/assets/images/belle_da_costa_greene/image003.jpg 765w, 
                                 /assets/images/belle_da_costa_greene/image003.jpg 224w, 
                                 /assets/images/belle_da_costa_greene/image003.jpg768w, 
                                 /assets/images/belle_da_costa_greene/image003.jpg 775w" sizes="(max-width: 765px) 100vw, 765px"></figure>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-74046692">
                        <div class="gb-container gb-container-74046692">
                           <div class="gb-inside-container">
                              <p>Belle Greene was employed at the Princeton University Library when Junius Spencer Morgan, a nephew of J. Pierpont Morgan and an ardent bibliophile, recommended her to his uncle, whose new library building was nearing completion. In 1905, Greene began working as an assistant to Junius and ultimately became J. Pierpont Morgan’s private librarian, with her own assistant, Ada Thurston. At the Library she managed, documented, and built Morgan’s collection of rare books and manuscripts, established relationships with dealers and scholars, and organized public exhibitions at outside venues.</p>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-bf67791c">
                        <div class="gb-container gb-container-bf67791c">
                           <div class="gb-inside-container">
                              <p>After Morgan’s death in 1913, Greene continued as private librarian to his son, J.P. Morgan Jr., who established the Pierpont Morgan Library as a public institution in 1924. Greene was named its first director and served in that capacity until her retirement in 1948, two years before her death.&nbsp;</p>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-2368caf7">
                        <div class="gb-container gb-container-2368caf7">
                           <div class="gb-inside-container">
                              <figure class="gb-block-image gb-block-image-68460bd6"><img decoding="async" loading="lazy" width="960" height="761" class="gb-image gb-image-68460bd6"
                                 src="/assets/images/belle_da_costa_greene/image004.jpg" alt="" title="ARC-1637" 
                                 srcset="/assets/images/belle_da_costa_greene/image004.jpg 960w, 
                                 /assets/images/belle_da_costa_greene/image004.jpg 300w,
                                 /assets/images/belle_da_costa_greene/image004.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></figure>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-927f31ec">
                        <div class="gb-container gb-container-927f31ec">
                           <div class="gb-inside-container">
                              <figure class="gb-block-image gb-block-image-2328e745"><img decoding="async" loading="lazy" width="791" height="1024" class="gb-image gb-image-2328e745" 
                                 src="/assets/images/belle_da_costa_greene/image005.jpg" alt="" title="158530v_0047-" 
                                 srcset="/assets/images/belle_da_costa_greene/image005.jpg 791w, 
                                 /assets/images/belle_da_costa_greene/image005.jpg 232w, 
                                 /assets/images/belle_da_costa_greene/image005.jpg 768w, 
                                 /assets/images/belle_da_costa_greene/image005.jpg 960w" sizes="(max-width: 791px) 100vw, 791px"></figure>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-55b4106d">
                        <div class="gb-container gb-container-55b4106d">
                           <div class="gb-inside-container">
                              <p>She acquired countless treasures during her career at the Library, building upon what Pierpont Morgan had started and working with his son to develop one of the world’s great collections of books, manuscripts, and art. An exhibition held a year before her death in 1949 celebrated the acquisitions she made as Director from 1924–1948. Though Greene’s collecting was focused on medieval illuminated manuscripts—her principal subject of expertise—she also acquired important drawings, printed books, and literary manuscripts, including those of Honoré de Balzac’s <em>Eugenie Grandet</em> and Charles Dickens’s <em>Our Mutual Friend</em>.</p>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-81f2efda">
                        <div class="gb-container gb-container-81f2efda">
                           <div class="gb-inside-container">
                              <h4 class="gb-headline gb-headline-71e11fa9 gb-headline-text">Greene’s legacy is powerful and far-reaching. While the significant role she played as J. Pierpont Morgan’s librarian is often acknowledged, her tenure in that position lasted a mere seven years. During her decades-long career as a library executive, she not only acquired countless significant collection items but also made immeasurable contributions to bibliography and scholarship, mentored colleagues at the Morgan and elsewhere, facilitated widespread collection access through object loans and ambitious photographic services, and promoted the work of distinguished women scholars and librarians.</h4>
                           </div>
                        </div>
                     </div>
                     <div class="gb-grid-column gb-grid-column-ac9a4528">
                        <div class="gb-container gb-container-ac9a4528">
                           <div class="gb-inside-container">
                              <figure class="gb-block-image gb-block-image-333b7693"><img decoding="async" loading="lazy" width="960" height="759" class="gb-image gb-image-333b7693" 
                                 src="/assets/images/belle_da_costa_greene/image006.jpg" alt="" title="701485" 
                                 srcset="/assets/images/belle_da_costa_greene/image006.jpg 960w, 
                                 /assets/images/belle_da_costa_greene/image006.jpg 300w, 
                                 /assets/images/belle_da_costa_greene/image006.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="gb-container gb-container-b142ba6a">
                     <a class="gb-button gb-button-4441b547 gb-button-text" href="/resource/rsp:BelleGreeneResources">Additional Resources</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>