<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<title>Project Staff</title>
		<link rel="stylesheet" href="/assets/styles/header.css"/>
		<link rel="stylesheet" href="/assets/styles/projectstaff.css"/>
	</head>

	<body data-rsssl="1" class="page-template-default page page-id-36 logged-in wp-custom-logo wp-embed-responsive post-image-aligned-center slideout-enabled slideout-mobile sticky-menu-fade sticky-enabled both-sticky-menu no-sidebar nav-float-right one-container nav-search-enabled header-aligned-left dropdown-hover offside-js--init" itemtype="https://schema.org/WebPage" itemscope="">
		<div class="site grid-container container hfeed" id="page">
			<div class="site-content" id="content">
				<div class="content-area" id="primary">
					<main class="site-main" id="main">
						<article id="post-36" class="post-36 page type-page status-publish" itemtype="https://schema.org/CreativeWork" itemscope="">
							<div class="inside-article">
								<header class="entry-header" aria-label="Content">
									<h1 class="entry-title" itemprop="headline">Project Staff</h1>
								</header>
	
								<div class="entry-content" itemprop="text">
									<div class="gb-container gb-container-1d4eaf92 project-staff">
										<h3 class="gb-headline gb-headline-9048c77d gb-headline-text">The Morgan Library &amp; Museum</h3>
	
										<p><strong>Philip S. Palmer</strong>, <em>Co-Founder and Director</em>, Curator and Department Head of Literary and Historical Manuscripts, Morgan Library &amp; Museum</p>
	
										<div class="gb-container gb-container-67d1d032">
											<h5 class="gb-headline gb-headline-ac4299d8 gb-headline-text"><em>Former Project Staff</em></h5>
	
											<p><strong>Daria Rose Foner</strong>, Co-Founder and former Co-Director (now at Sotheby’s)<br><strong>Nicholas Caldwell</strong>, Belle da Costa Greene Curatorial Fellow (now at New York Public Library)<br><strong>Zoe Braccia</strong>, RealArts @ Penn Intern, Summer 2020<br><strong>Lauren Davis</strong>, RealArts @ Penn Intern, Summer 2022<br><strong>Serena Pellegrino</strong>, Harvard/I Tatti Intern, Summer 2021</p>
										</div>
	
										<div class="gb-container gb-container-a9e6349d">
											<h5 class="gb-headline gb-headline-55693247 gb-headline-text"><em>Staff Transcribers</em></h5>
	
											<p><strong>Alison Bleznick<br>Alysha Colon<br>James Donchez<br>Meghan Fletcher<br>Ariana Joubert<br>Kelsey Malanowski<br>Maya Wilson</strong></p>
										</div>
	
										<h3 class="gb-headline gb-headline-a9725895 gb-headline-text">I Tatti, the Harvard University Center for Italian Renaissance Studies</h3>
	
										<div class="gb-container gb-container-dc6c3a3f">
											<p><strong>Michael Rocke</strong>, Nicky Mariano Librarian, Director of the Biblioteca Berenson<br><strong>Ilaria Della Monica</strong>, Head Archivist<br><strong>Lukas Klic</strong>, Head of Digital Humanities Research, Manager of Information Services &amp; Digital Initiatives<br><strong>Daniele Fratini</strong>, Imaging Services Assistant<br><strong>Remo Grillo</strong>, Digital Humanities Research Associate, Digital Research Infrastructure for the Humanities</p>
										</div>
	
										<h3 class="gb-headline gb-headline-e70fb1ce gb-headline-text">Special thanks to</h3>
	
										<div class="gb-container gb-container-782d4c66">
											<p><strong><strong>Heidi Ardizzone, Colin B. Bailey, Erica Ciallela, Jessica Ludwig, Jathan Martin, Christine Nelson, Deborah Parker, Kristina Stillman, Jean Strouse, and Bill Voelkle.</strong></strong></p>
										</div>
									</div>
								</div>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
	</body>
	