<head>
  <meta charset="UTF-8">
		<title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
		<link rel="stylesheet" href="/assets/styles/header.css"/>
		<link rel="stylesheet" href="/assets/styles/introduction.css"/>
</head>
<body>
<div id="main-container" class="container no-sidebar">
  <div class="entry-content">
    <h1>The Correspondence of Belle da Costa Greene and Bernard Berenson</h1>
      <h4 class="gb-headline gb-headline-23cfb7f9 gb-headline-text">
         The more than 600 letters written by <a href="/resource/rsp:BelleDaCostaGreene" 
         data-type="page" data-id="348">Belle da Costa Greene</a> (1879–1950) to 
         <a href="/resource/rsp:BernardBerenson" data-type="page" data-id="662">
            Bernard Berenson</a> (1865–1959) comprise one of the twentieth century’s most compelling groups of personal correspondence.
      </h4>
    <div class="gb-grid-wrapper gb-grid-wrapper-6515cfdb">
      <div class="gb-grid-column gb-grid-column-5025171a">
         <div class="gb-container gb-container-5025171a">
            <div class="gb-inside-container">
               <figure class="gb-block-image gb-block-image-70cb66b2"><img decoding="async" loading="lazy" width="827" height="1024" class="gb-image gb-image-70cb66b2" src="/assets/images/introduction/image001.jpg 960w" srcset="/assets/images/introduction/image001.jpg" sizes="(max-width: 827px) 100vw, 827px"></figure>
            </div>
         </div>
      </div>
      <div class="gb-grid-column gb-grid-column-1c9c1564">
         <div class="gb-container gb-container-1c9c1564">
            <div class="gb-inside-container">
               <p>Written by the formidable and brilliant Librarian and Director of the Morgan Library to the preeminent art historian of the age, 
                  the letters open a window onto the compelling world of rare books, art, and society in New York, 1910–1950. Since the letters 
                  Berenson wrote to Greene do not survive, this correspondence is one of the only extant sources documenting their relationship.</p>
            </div>
         </div>
      </div>
      <div class="gb-grid-column gb-grid-column-12da8056">
         <div class="gb-container gb-container-12da8056">
            <div class="gb-inside-container">
               <h2 class="gb-headline gb-headline-85ce90f3 gb-headline-text">Belle Greene and Bernard Berenson</h2>
               <p>Greene and Berenson first met in New York in January 1909. Berenson was there with his wife, Mary, 
                  and together they visited the Morgan Library to view its treasures. At that point Greene had been working for the financier and collector J. Pierpont Morgan (1837–1913) 
                  for over three years, since the summer of 1905, as his Librarian. Belle and Bernard became friendly 
                  and soon began a romantic relationship, largely long-distance and expressed through letters. 
                  The first letter is dated February 23, 1909 and their correspondence would continue for five decades, 
                  until the final letter of December 1948.</p>
            </div>
         </div>
      </div>
      <div class="gb-grid-column gb-grid-column-da199955">
         <div class="gb-container gb-container-da199955">
            <div class="gb-inside-container">
               <figure class="gb-block-image gb-block-image-95a84c9e"><img decoding="async" loading="lazy" width="659" height="1024" class="gb-image gb-image-95a84c9e" src="/assets/images/introduction/image002.jpg" alt="" title="BB" srcset="/assets/images/introduction/image002.jpg 659w, /assets/images/introduction/image002.jpg 960w" sizes="(max-width: 659px) 100vw, 659px"></figure>
            </div>
         </div>
      </div>
   </div>
      <div class="gb-container gb-container-6b3eacc5 alignfull">
         <div class="gb-inside-container">
            <h2 class="gb-headline gb-headline-ced05e02 gb-headline-text">Personal Branding</h2>
            <h4 class="gb-headline gb-headline-ab6019ed gb-headline-text">Both Belle and Bernard developed monograms or personal logos that they used for stationery and other applications.</h4>
            <div class="gb-grid-wrapper gb-grid-wrapper-13896c29">
               <div class="gb-grid-column gb-grid-column-c8d44077">
                  <div class="gb-container gb-container-c8d44077">
                     <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/assets/images/introduction/image007.jpg" alt="" class="wp-image-613" width="188" height="188" srcset="/assets/images/introduction/image007.jpg 150w" sizes="(max-width: 188px) 100vw, 188px"></figure>
                     <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                     <p>The stylized “Belle” enclosed in a circle decorated one of the many types of stationery that Greene used for her personal correspondence. The “Belle” stationery appears as late as 1930, though she used it more frequently in the 1910s.</p>
                  </div>
               </div>
               <div class="gb-grid-column gb-grid-column-ad23d84d">
                  <div class="gb-container gb-container-ad23d84d">
                     <figure class="wp-block-image size-full is-resized"><img decoding="async" src="/assets/images/introduction/image008.jpg" alt="" class="wp-image-615" width="188" height="188" srcset="/assets/images/introduction/image008.jpg 250w, /assets/images/introduction/image008.jpg 150w" sizes="(max-width: 188px) 100vw, 188px"></figure>
                     <div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
                     <p>The “BB” monogram, with its apian visual pun, was designed by the stage designer and theater director Edward Gordon Craig. Berenson began using it…</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="gb-container gb-container-dc2218a1 alignfull">
         <div class="gb-inside-container">
            <h2 class="gb-headline gb-headline-42296826 gb-headline-text">Destroyed Letters</h2>
            <div class="gb-container gb-container-88cd0aa4">
               <div class="gb-inside-container">
                  <p>Two factors make these letters particularly important. First, Belle Greene destroyed her personal papers before her death in 1950, including all of Bernard Berenson’s letters and her private diaries. For this reason, the personal letters she sent to friends are particularly valuable in reconstructing details of her life.</p>
               </div>
            </div>
            <h2 class="gb-headline gb-headline-9be0fd14 gb-headline-text">Detailed Life Writing</h2>
            <div class="gb-container gb-container-6901bdc9">
               <div class="gb-inside-container">
                  <p>Second, it seems Berenson asked Greene to include as much detail as possible in her letters, and indeed many of them are quite long and read almost like journal entries. Greene did not always enjoy writing so minutely about her life, describing one of her letters to Berenson as “a small beer chronicle.”</p>
                  <p>The result is a treasure trove of Belle Greene’s words, expressed confidently to her friend, intellectual peer, and sometime romantic partner. These letters, in addition to the professional papers held at the Morgan Library &amp; Museum, capture the vibrancy, wit, and confidence of Greene’s voice.</p>
               </div>
            </div>
         </div>
      </div>
      <div class="gb-container gb-container-d9d9fef5 alignfull">
         <div class="gb-inside-container">
            <blockquote class="wp-block-quote">
               <p>“Did I tell you that for the first time in my life I am keeping a diary? It is the greatest relief to find a dear white sheet before you that you know will be silent as the grave &amp; then to tell it unreservedly all one thinks. I write down everything I see or hear during the day, all my personal impressions &amp; feelings and have been surprised at the number and variety of events it records for me – I shall never allow a living soul to see it &amp; for that reason I write things I hardly dare think.”</p>
               <cite>Belle Greene to Bernard Berenson, 12 September 1909</cite>
            </blockquote>
         </div>
      </div>
      <div class="gb-inside-container">
         <div class="gb-grid-wrapper gb-grid-wrapper-06fecd35">
            <div class="gb-grid-column gb-grid-column-a89c99c2">
               <div class="gb-container gb-container-a89c99c2">
                  <div class="gb-inside-container">
                     <h2 class="gb-headline gb-headline-065eadfb gb-headline-text">Researching the Letters</h2>
                     <p>Greene’s letters to Berenson have received the most attention in Heidi Ardizzone’s 2007 biography of Greene, <em>An Illuminated Life: Belle da Costa Greene’s Journey from Prejudice to Privilege</em>. But scholars before her, most notably Jean Strouse, also read these letters. Strouse would famously reveal in 1999 that Belle da Costa Greene was actually Belle Marion Greener, daughter of the activist and lawyer Richard T. Greener, the first Black graduate of Harvard College.</p>
                  </div>
               </div>
            </div>
            <div class="gb-grid-column gb-grid-column-697b5675">
               <div class="gb-container gb-container-697b5675">
                  <div class="gb-inside-container">
                     <figure class="gb-block-image gb-block-image-8d990455"><img decoding="async" loading="lazy" width="676" height="1024" class="gb-image gb-image-8d990455" src="/assets/images/introduction/image003.jpg" alt="" title="Ardizzone-an-illuminated-life"
                         srcset="/assets/images/introduction/image003.jpg 676w, 
                         /assets/images/introduction/image003.jpg 198w, 
                         /assets/images/introduction/image003.jpg 768w, 
                         /assets/images/introduction/image003.jpg 792w" sizes="(max-width: 676px) 100vw, 676px"></figure>
                  </div>
               </div>
            </div>
            <div class="gb-grid-column gb-grid-column-57ab4f8e">
               <div class="gb-container gb-container-57ab4f8e">
                  <div class="gb-inside-container">
                     <figure class="gb-block-image gb-block-image-941c3802"><img decoding="async" loading="lazy" width="706" height="1024" class="gb-image gb-image-941c3802"
                         src="/assets/images/introduction/image004.jpg" 
                        alt="" title="Richard-T.-Greener-Harvard-2" srcset="/assets/images/introduction/image004.jpg 706w, 
                        /assets/images/introduction/image004.jpg 207w, 
                        /assets/images/introduction/image004.jpg 768w, 
                        /assets/images/introduction/image004.jpg 960w" sizes="(max-width: 706px) 100vw, 706px"></figure>
                  </div>
               </div>
            </div>
            <div class="gb-grid-column gb-grid-column-394356c8">
               <div class="gb-container gb-container-394356c8">
                  <div class="gb-inside-container">
                     <h2 class="gb-headline gb-headline-188f12e6 gb-headline-text">Belle Greene’s Family</h2>
                     <p>In 1874 Greener married Genevieve Ida Fleet, who descended from an elite Black family in Georgetown. Born in 1879, Belle was their second surviving child. Both Richard and Genevieve were light in complexion and had been listed as “Mulatto” or even “White” in census records. When the family moved to New York City in the 1880s rumors circulated that Genevieve was passing as White, and it seems to have been a likely source of marital tension.</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="gb-grid-column gb-grid-column-12f16955">
            <div class="gb-container gb-container-12f16955">
               <div class="gb-inside-container">
                  <h2 class="gb-headline gb-headline-2d1d5ef5 gb-headline-text">Passing in NYC</h2>
                  <div class="gb-container gb-container-6f71961c">
                     <div class="gb-inside-container">
                        <p>Around 1896 Greene’s parents split up, Genevieve took the children, and they would begin passing as White. Belle and her brother Russell adopted the middle name “Da Costa” and claimed Portuguese heritage while Genevieve transformed “Fleet” into the Dutch-sounding “Van Vliet.” In the 1920 U.S. Census Greene’s father’s ancestry is listed as “Spanish,” and she would claim her mother had “grand southern blood” (they pointed to origins in Virginia).</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="gb-grid-column gb-grid-column-e59cd408">
            <div class="gb-container gb-container-e59cd408">
               <div class="gb-inside-container">
                  <figure class="gb-block-image gb-block-image-e8cf3498"><img decoding="async" loading="lazy" width="960" height="556" class="gb-image gb-image-e8cf3498" 
                     src="/assets/images/introduction/image009.jpg" alt="" title="32044150446375_005" 
                     srcset="/assets/images/introduction/image009.jpg 960w,
                     /assets/images/introduction/image009.jpg 300w, 
                     /assets/images/introduction/image009.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></figure>
               </div>
            </div>
         </div>
      </div>
      <div class="gb-container gb-container-32d76f49 alignfull">
         <div class="entry-content">
         <div class="gb-grid-wrapper gb-grid-wrapper-18096604">
         <div class="gb-grid-column gb-grid-column-07724eb7">
            <div class="gb-container gb-container-07724eb7 morgan_tatti-logo">
               <div class="gb-inside-container">
                  <figure class="gb-block-image gb-block-image-48fad864"><a href="https://www.themorgan.org/" target="_blank" rel="noopener noreferrer"><img decoding="async" loading="lazy" width="150" height="150" class="gb-image gb-image-48fad864"
                      src="/assets/images/introduction/image011.jpg" alt="" title="morgan-logo" 
                      srcset="/assets/images/introduction/image011.jpg 150w, 
                      /assets/images/introduction/image011.jpg 300w, 
                      /assets/images/introduction/image011.jpg 512w" sizes="(max-width: 150px) 100vw, 150px"></a></figure>
                  <figure class="gb-block-image gb-block-image-f345ac96"><a href="http://itatti.harvard.edu/" target="_blank" rel="noopener noreferrer"><img decoding="async" loading="lazy" width="150" height="150" class="gb-image gb-image-f345ac96 itatti-logo" 
                     src="/assets/images/introduction/image012.jpg" alt="" title="itatti-logo" 
                     srcset="/assets/images/introduction/image012.jpg 150w,
                     /assets/images/introduction/image012.jpg 300w, 
                     /assets/images/introduction/image012.jpg 512w" sizes="(max-width: 150px) 100vw, 150px"></a></figure>
               </div>
            </div>
         </div>
         <div class="gb-grid-column gb-grid-column-12f6bc85">
               <div class="gb-container gb-container-2c8cbd76">
                  <div class="gb-inside-container">
                     <h3 class="gb-headline gb-headline-5e12ab05 gb-headline-text">Digitizing and Presenting the Letters</h3>
                     <p>Previous studies have made much of the Greene–Berenson correspondence, but the letters have remained unpublished and accessible only to scholars using the Biblioteca Berenson at I Tatti. 
                        In 2019, as part of their preparations for a major 2024 exhibition on Greene, the Morgan Library &amp; Museum funded the digitization of the full set of letters. Miraculously, 
                        I Tatti staff were able to complete digitization of the letters before Northern Italy became the epicenter of the COVID-19 pandemic in March 2020. A few months later, in May 2020, 
                        the images were made available to curatorial staff at the Morgan, who started a project that June to transcribe, in collaborative fashion, Belle Greene’s letters to Berenson. 
                        The project was one of many cross-departmental activities devised to keep front-line staff from the Morgan’s Visitor Services and Conservation departments engaged with meaningful
                         work while the museum was closed in the spring and summer of 2020.</p>
                     <p>Over the ensuing years various members of the Morgan’s curatorial staff have worked with colleagues at I Tatti to build an intellectual context around the letters and a digital 
                        platform for making them accessible to researchers. The Morgan team has contributed the bulk of the transcriptions, metadata, and ancillary website material, while librarians and 
                        digital humanists at I Tatti have facilitated access to the letters, interpreted the correspondence within the larger archival collections of the Biblioteca Berenson, and translated 
                        the Morgan’s work into a humanities data environment and publicly available website.</p>
            <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
            <figure class="wp-block-image size-large"><img decoding="async" fetchpriority="high" width="1024" height="448" 
               src="/assets/images/introduction/image010.jpg" alt="" class="wp-image-794" 
               srcset="/assets/images/introduction/image010.jpg 1024w,
               /assets/images/introduction/image010.jpg 300w, 
               /assets/images/introduction/image010.jpg 768w, 
               /assets/images/introduction/image010.jpg 1200w" sizes="(max-width: 1024px) 100vw, 1024px"></figure>
            <div style="height:60px" aria-hidden="true" class="wp-block-spacer"></div>
            <p>This website presents high-resolution images and full-text transcriptions of Belle Greene’s letters to Bernard Berenson. Phase One, amounting to the first 100 transcriptions, is currently available, 
               with the remainder of the correspondence slated to be published online by October 2024. Descriptive metadata for each letter enables researchers to use complex search queries and navigate the content
                via faceted browsing. Names, places, book titles, artworks, etc. have also been captured in an effort to provide various ways to discover the letters and their content. The site also presents
                 ancillary materials to aid researchers, including pages about Belle Greene’s handwriting, themes found in her letters, tips for searching, and a bibliography of additional resources. Casual browsers 
                 can read the ten “highlighted letters” for a glimpse into the world of Greene’s correspondence. Even though only a portion of the letter transcriptions are currently available, high-resolution 
                 images for the entire corpus of Greene’s letters to Berenson can be accessed through 
                 <a href="https://hollisarchives.lib.harvard.edu/repositories/10/archival_objects/2167675" target="_blank" rel="noreferrer noopener">the Bernard and Mary Berenson Papers Finding Aid</a>.</p>
            <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
            <div class="gb-grid-wrapper gb-grid-wrapper-432f41d3">
            <div class="gb-grid-column gb-grid-column-1a26ece9">
               <div class="gb-container gb-container-1a26ece9">
                  <figure class="wp-block-image size-large is-resized"><img decoding="async" loading="lazy" 
                     src="/assets/images/introduction/image005.jpg" alt="" class="wp-image-472" width="647" height="1024" 
                     srcset="/assets/images/introduction/image005.jpg 647w, 
                     /assets/images/introduction/image005.jpg 189w, 
                     /assets/images/introduction/image005.jpg 768w, 
                     /assets/images/introduction/image005.jpg 960w" sizes="(max-width: 647px) 100vw, 647px"></figure>
               </div>
            </div>
         <div class="gb-grid-column gb-grid-column-8635e3fe">
            <div class="gb-container gb-container-8635e3fe">
               <p>In one of her final letters to Berenson, written in 1945, Greene is happy to hear from her old friend, whose letter takes her back to happier times: “I cannot tell you what it meant to me – 
                  just like the dear gone days to hear from you again. In these terrible days I (occasionally!) remind myself that after all we knew a grand time and lived a grand life.” The letters compiled on
                   this website offer one of many perspectives on that “grand life,” in all of its fascinating complexity and richness.</p>
            </div>
         </div>
</div>
</body>