<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
      <link rel="stylesheet" href="/assets/styles/header.css"/>
      <link rel="stylesheet" href="/assets/styles/themes.css"/>
   </head>
   <body data-rsssl="1" class="page-template-default page page-id-45 logged-in wp-custom-logo wp-embed-responsive post-image-aligned-center slideout-enabled slideout-mobile sticky-menu-fade sticky-enabled both-sticky-menu no-sidebar nav-float-right one-container nav-search-enabled header-aligned-left dropdown-hover offside-js--init" itemtype="https://schema.org/WebPage" itemscope="">
      <div class="entry-content" itemprop="text">
         <div class="gb-container gb-container-d2beccfa alignfull">
            <div class="gb-inside-container">
							<h1 class="entry-title" itemprop="headline">Themes</h1>
               <div class="gb-grid-wrapper gb-grid-wrapper-e0fd06b3">
								
                  <div class="gb-grid-column gb-grid-column-406dbf96">
                     <div class="gb-container gb-container-406dbf96">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-d48d85da"><img decoding="async" loading="lazy" width="960" height="960" class="gb-image gb-image-d48d85da" src="/assets/images/themes/image001.jpg" alt="" title="Hill-AZ164_MLM65941_214115v_0002-hpr" 
                              srcset="/assets/images/themes/image001.jpg 960w, 
                              /assets/images/themes/image001.jpg 300w, 
                              /assets/images/themes/image001.jpg 150w, 
                              /assets/images/themes/image001.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></figure>
                           <h4 class="gb-headline gb-headline-0476fa8b gb-headline-text">RACE AND ETHNICITY</h4>
                           <p>Though Belle Greene never writes specifically about her family’s decision to pass as White, she does make numerous references to race and ethnicity in her letters to Berenson. In these brief and typically vague passages, she alludes to the fiction of her Portuguese ancestry; exoticizes herself as Abyssinian, Chinese, Arabic, South Asian, and Egyptian; and makes several complicated statements about her skin color.</p>
                           <h6 class="gb-headline gb-headline-7238b3cc gb-headline-text">Letters:</h6>
                           <ul class="has-small-font-size">
                              <li><a href="#">1909 April 6</a></li>
                              <li><a href="#">1910 May 6</a></li>
                              <li><a href="#">1910 June 7</a></li>
                              <li><a href="#">1910 October 19</a></li>
                              <li><a href="#">1910 October 29</a></li>
                              <li><a href="#">1911 January 19</a></li>
                              <li><a href="#">1911 December 15</a></li>
                              <li><a href="#">1913 December 29</a></li>
                              <li><a href="#">1924 July 27</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-3a02be1f">
                     <div class="gb-container gb-container-3a02be1f">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-a718088b"><img decoding="async" loading="lazy" width="960" height="960" class="gb-image gb-image-a718088b" 
                              src="/assets/images/themes/image002.jpg" alt="" title="Jack-Morgan-painting-Frank-Owen-Salisbury" 
                              srcset="/assets/images/themes/image002.jpg 960w, /assets/images/themes/image002.jpg 300w, 
                              /assets/images/themes/image002.jpg 150w, 
                              /assets/images/themes/image002.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></figure>
                           <h4 class="gb-headline gb-headline-76e63e87 gb-headline-text">THE MORGANS</h4>
                           <p>Belle Greene’s career was shaped in important ways by the Morgan family. Junius Spencer Morgan, whom she met at Princeton, introduced her to J. Pierpont Morgan, who offered her a job as his private librarian. After Pierpont’s death, Belle Greene continued at the Library under his son Jack. She also knew other Morgan family members such as Anne Tracy Morgan (Pierpont’s daughter) and Jack’s children Junius Spencer Morgan III, Jane Norton Morgan Nichols, and Henry Sturgis Morgan. Greene’s letters to Berenson reveal the deep admiration and trust, as well as the occasional tension, at the heart of her relationship with the Morgan family.</p>
                           <h6 class="gb-headline gb-headline-f588412c gb-headline-text">Letters:</h6>
                           <ul class="has-small-font-size">
                              <li><a href="#">1909 April 9 (J. Pierpont Morgan)</a></li>
                              <li><a href="#">1909 June 15 (J. Pierpont Morgan)</a></li>
                              <li><a href="#">1910 October 19 (Anne Morgan) [first and second letters of that date]</a></li>
                              <li><a href="#">1911 January 13 (J. Pierpont Morgan)</a></li>
                              <li><a href="#">1911 January 19 (J. Pierpont Morgan)</a></li>
                              <li><a href="#">1911 February 27 (Anne Morgan)</a></li>
                              <li><a href="#">1912 July 9 (Anne Morgan)</a></li>
                              <li><a href="#">1912 September 6 (J. Pierpont Morgan)</a></li>
                              <li><a href="#">1913 April 12 (J. Pierpont Morgan’s Death)</a></li>
                              <li><a href="#">1913 May 9 (J.P “Jack” Morgan Jr.)</a></li>
                              <li><a href="#">1913 July 9 (Anne Morgan)</a></li>
                              <li><a href="#">1913 July 17 (J. Pierpont Morgan and J.P “Jack” Morgan Jr.)</a></li>
                              <li><a href="#">1913 September 4 (Anne Morgan)</a></li>
                              <li><a href="#">1913 November 3 (Anne Morgan)</a></li>
                              <li><a href="#">1913 December 14 (Herbert Satterlee)</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-dd09c265">
                     <div class="gb-container gb-container-dd09c265">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-bfbadca3"><img decoding="async" loading="lazy" width="960" height="960" class="gb-image gb-image-bfbadca3"
                              src="/assets/images/themes/image003.jpg" alt="" 
                              title="32044150446375_040" srcset="/assets/images/themes/image003.jpg 960w, 
                              /assets/images/themes/image003.jpg 300w, 
                              /assets/images/themes/image003.jpg 150w, 
                              /assets/images/themes/image003.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></figure>
                           <h4 class="gb-headline gb-headline-d562bcd2 gb-headline-text">LETTER-WRITING</h4>
                           <p>Belle Greene often reflects on the process of letter-writing or talks about its physicality—not only the pens and paper she used, but also the circumstances in which she was writing (train, car, propped on a pillow, et al). She often bemoans the volume of unanswered mail sitting on her desk at work, while also complaining to Berenson about his request for exceptionally detailed letters. As one of the great letter-writers of the twentieth century, Belle Greene’s thoughts on correspondence are fascinating and revealing.</p>
                           <h6 class="gb-headline gb-headline-82c1146a gb-headline-text">Letters:</h6>
                           <ul class="has-small-font-size">
                              <li><a href="#">1909 March 20</a></li>
                              <li><a href="#">1909 April 6</a></li>
                              <li><a href="#">1909 April 29</a></li>
                              <li><a href="#">1909 August 17</a></li>
                              <li><a href="#">1910 January 19</a></li>
                              <li><a href="#">1910 January 23</a></li>
                              <li><a href="#">1910 October 12</a></li>
                              <li><a href="#">1911 January 6</a></li>
                              <li><a href="#">1911 January 18</a></li>
                              <li><a href="#">1911 May 31</a></li>
                              <li><a href="#">1911 June 27</a></li>
                              <li><a href="#">1911 August 22</a></li>
                              <li><a href="#">1913 October 14</a></li>
                              <li><a href="#">1921 April 26</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-2b209048">
                     <div class="gb-container gb-container-2b209048">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-37b004cc"><img decoding="async" loading="lazy" width="960" height="960" 
                              class="gb-image gb-image-37b004cc" src="/assets/images/themes/image004.jpg"
                              alt="" title="Read-M-458-32r" srcset="/assets/images/themes/image004.jpg 960w,
                              /assets/images/themes/image004.jpg 300w, 
                              /assets/images/themes/image004.jpg 150w, 
                              /assets/images/themes/image004.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></figure>
                           <h4 class="gb-headline gb-headline-38c80b0b gb-headline-text">ACQUISITIONS OF BOOKS, ART, AND MANUSCRIPTS</h4>
                           <p>In 1908, three years after she was hired, Belle Greene began making independent acquisitions for the Library’s collection with Morgan’s approval and trust. She would continue developing its holdings in several areas, especially medieval manuscripts, early printed books, and literary and historical manuscripts, until her retirement in 1948. Many of her letters to Berenson offer interesting details of these acquisitions, including provenance, date, and the circumstances of their donation or purchase.</p>
                           <h6 class="gb-headline gb-headline-572f9b3f gb-headline-text">Letters:</h6>
                           <ul class="has-small-font-size">
                              <li><a href="#">1909 April 23 (manuscript fragment of Edgar Allan Poe’s “The Raven”)</a></li>
                              <li><a href="#">1909 August 17 (Rembrandt etchings)</a></li>
                              <li><a href="#">1911 February 21 (latitude Morgan gave Greene on purchases)</a></li>
                              <li><a href="#">1911 April 21 (Hoe sale)</a></li>
                              <li><a href="#">1911 May 2 (Caxton edition of Malory’s <em>Morte d’Arthur</em> at the Hoe sale)</a></li>
                              <li><a href="#">1911 May 22 (Charles Hercules Read’s Persian drawings)</a></li>
                              <li><a href="#">1913 February 18 (Persian miniatures)</a></li>
                              <li><a href="#">1913 May 9 (Elizabeth Barrett Browning manuscripts)</a></li>
                              <li><a href="#">1913 July 17 (Persian bestiary)</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-e498628e">
                     <div class="gb-container gb-container-e498628e">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-f2965bf7"><img decoding="async" loading="lazy" width="843" height="843" class="gb-image gb-image-f2965bf7"
                              src="/assets/images/themes/image005.jpg" alt="" 
                              title="Steichen_Rodin_Balzac_03_MET" srcset="/assets/images/themes/image005.jpg 843w, 
                              /assets/images/themes/image005.jpg 300w, 
                              /assets/images/themes/image005.jpg 150w, 
                              /assets/images/themes/image005.jpg 768w" sizes="(max-width: 843px) 100vw, 843px"></figure>
                           <h4 class="gb-headline gb-headline-ea439060 gb-headline-text">MODERN ART</h4>
                           <p>Though Belle Greene’s passion and expertise lay in medieval illuminated manuscripts, early printed books, and Persian and Islamic miniatures, she also had a small collection of modern art and knew many contemporary artists and writers. She attended the epochal 1913 Armory Show in New York and frequented Alfred Stieglitz’s Photo-Secession Gallery, known as 291. Modern art seems to have simultaneously attracted and repelled her, and much of what we know about her response to the subject can be found in her letters to Berenson.</p>
                           <h6 class="gb-headline gb-headline-1158d339 gb-headline-text">Letters:</h6>
                           <ul class="has-small-font-size">
                              <li><a href="#">1910 March 1</a></li>
                              <li><a href="#">1912 April 9</a></li>
                              <li><a href="#">1913 January 28</a></li>
                              <li><a href="#">1913 February 18</a></li>
                              <li><a href="#">1913 December 14</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="gb-grid-column gb-grid-column-add504c2">
                     <div class="gb-container gb-container-add504c2">
                        <div class="gb-inside-container">
                           <figure class="gb-block-image gb-block-image-fd492f4b"><img decoding="async" loading="lazy" width="960" height="961" 
                              class="gb-image gb-image-fd492f4b" src="/assets/images/themes/image006.jpg" 
                              alt="" title="32044150448496_059" srcset="/assets/images/themes/image006.jpg 960w, 
                              /assets/images/themes/image006.jpg 300w, 
                              /assets/images/themes/image006.jpg 150w, 
                              /assets/images/themes/image006.jpg 768w" sizes="(max-width: 960px) 100vw, 960px"></figure>
                           <h4 class="gb-headline gb-headline-a1eda958 gb-headline-text">RELATIONSHIP WITH BERNARD</h4>
                           <p>Belle and Bernard’s relationship emerged initially from a shared love of art and culture, but soon blossomed into a sweeping romance that for many years stood the test of space and time. While describing their correspondence as a group of “love letters” is misleading, Belle and Bernard nonetheless expended a great deal of ink expressing their love for another. In her first letter to Berenson, Greene addresses him formally as “Mr. Berenson,” but her greetings soon evolve into various terms of endearment, including “beloved of my dreams” and “you Blessed Lamb of God,” as well as less flattering forms of address such as “Egoist,” “faithless one,” and “man so far away.” The romance had cooled by the 1920s but they remained correspondents until 1949.</p>
                           <h6 class="gb-headline gb-headline-72429bc1 gb-headline-text">Letters:</h6>
                           <ul class="has-small-font-size">
                              <li><a href="#">1909 March 4</a></li>
                              <li><a href="#">1909 March 17</a></li>
                              <li><a href="#">1909 March (undated—letter #009)</a></li>
                              <li><a href="#">1910 June 7</a></li>
                              <li><a href="#">1910 October 20 (telegram)</a></li>
                              <li><a href="#">1911 January 15</a></li>
                              <li><a href="#">1911 February 1</a></li>
                              <li><a href="#">1911 February (paper valentine)</a></li>
                              <li><a href="#">1911 May 16</a></li>
                              <li><a href="#">1911 September 22</a></li>
                              <li><a href="#">1912 December 16</a></li>
                              <li><a href="#">1921 January 4</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>