<head>
    <meta charset="UTF-8">
    <title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
    <link rel="stylesheet" href="/assets/styles/header.css"/>
    <link rel="stylesheet" href="/assets/styles/admin.css"/>
 </head>
<div class="page-holder">
    <div role="toolbar" class="component-page-toolbar hidden-print btn-toolbar">
       <div class="btn-group"></div>
    </div>
    <div id="template-content">
       <ol class="page-breadcrumb">
          <li><a title="Home" class="">Home</a></li>
          <li class="active">Administration</li>
       </ol>
       <div class="page">
          <div class="container-fluid adminPage-header-container">
             <div class="row-center row">
                <div class="rs-col-xl-8 adminPage-header--col col-lg-9 col-md-10 col-sm-11 col-xs-12">
                   <div class="adminPage-header--content">
                      <div class="adminPage-header--thumbnail"><i class="fa fa-cog fa-lg"></i></div>
                      <div class="adminPage-header--body">
                         <h2>Administration </h2>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="container-fluid">
             <div class="row-center row">
                <div __style="margin-bottom: 40px;" class="rs-col-xl-8 col-lg-9 col-md-10 col-sm-11 col-xs-12" style="margin-bottom: 40px;">
                   <div class="row">
                      <div class="col-xs-6">
                         <h2 class="admin-title" style="margin-top: 12px;">Import - Export</h2>
                         <div class="row">
                            <div class="col-md-6 col-xs-12">
                               <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                                  <div class="panel-body"><span class="rs-icon rs-icon-image_upload"></span></div>
                                  <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/Admin:FileUpload">File Upload</a></div>
                               </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                               <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                                  <div class="panel-body"><span class="fa fa-upload"></span></div>
                                  <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/Admin:DataImportExport">Data Import &amp; Export</a></div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-xs-6">
                         <h2 class="admin-title" style="margin-top: 12px; padding: 0px 15px;">Authority - Entity configuration</h2>
                         <div class="row">
                            <div class="col-md-6 col-xs-12">
                               <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                                  <div class="panel-body"><span class="rs-icon rs-icon-form_edit"></span></div>
                                  <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/rsp:ThinkingFrames?view=entity-editor">Entity Editor</a></div>
                               </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                               <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                                  <div class="panel-body"><span class="fa fa-cog"></span></div>
                                  <div class="panel-footer text-truncate" style="position: relative;"><a href="resource/?uri=http%3A%2F%2Fwww.researchspace.org%2Fresource%2Fsystem%2Fvocab%2Fauthority_manager_config_types">Authority and entity configuration</a></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-xs-12">
                         <h2 class="admin-title">Knowledge Modelling</h2>
                      </div>
                      <div class="col-md-3 col-xs-6">
                         <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                            <div class="panel-body"><span class="fa fa-sitemap"></span></div>
                            <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/?uri=http%3A%2F%2Fwww.researchspace.org%2Fresource%2Fassets%2FOntologies&semanticSearch=N4IgZiBcDaC6A0IBOBTAzgVwDYBcrAF9EATAQx1LRRzSjkVKwEsBzAOwFsU29JQAVKCAAi5UgDoAsqQCeAIxQhEANXwEiIFklIAHABYBlAMYB7HSgMpSSI3vwhBkEWKmyFSkKr7qCQA">Ontologies</a></div>
                         </div>
                      </div>
                      <div class="col-md-3 col-xs-6">
                         <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                            <div class="panel-body"><span class="fa fa-code"></span></div>
                            <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/Admin:Namespaces">RDF Namespace Prefixes</a></div>
                         </div>
                      </div>
                      <div class="col-md-3 col-xs-6">
                         <a class="rs-body-m-M">
                            <div class="text-center panel panel-default admin-icon-panel">
                               <div class="panel-body"><span class="rs-icon rs-icon-sparql"></span></div>
                               <div class="panel-footer text-truncate" style="position: relative;">
                         <a href="/sparql">SPARQL</a></div></div></a>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-xs-12">
                         <h2 class="admin-title">System Resources</h2>
                      </div>
                      <div class="col-md-3 col-xs-6">
                         <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                            <div class="panel-body"><span class="fa fa-file-text-o"></span></div>
                            <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/Admin:Templates">Template &amp; Application Pages</a></div>
                         </div>
                      </div>
                      <div class="col-md-3 col-xs-6">
                         <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                            <div class="panel-body"><span class="fa fa-th-large"></span></div>
                            <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/Admin:Apps">Apps &amp; Storages</a></div>
                         </div>
                      </div>
                      <div class="col-md-3 col-xs-6"></div>
                      <style>
                         .fa-stack-1x { top: 0em; }
                         .fa-stack {
                         font-size: 2.5em;
                         vertical-align: -16%;
                         height: 1.18em;
                         }
                         .filetype-text {
                         font-size: .4em;
                         font-weight: 800;
                         }
                      </style>
                      <div class="col-md-3 col-xs-6">
                         <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                            <div class="panel-body"><span class="fa-stack"><span class="fa-stack-1x filetype-text">SPIN</span><i class="fa fa-file-o fa-stack-2x" style="font-size: 1.6em;"></i></span></div>
                            <div class="panel-footer" style="position: relative;"><a href="/resource/?uri=http%3A%2F%2Fwww.researchspace.org%2Fresource%2Fassets%2FQueryTemplates">
                               Query Templates
                               </a>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-xs-12">
                         <h2 class="admin-title">Configurations</h2>
                      </div>
                      <div class="col-md-3 col-xs-6">
                         <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                            <div class="panel-body"><span class="fa fa-cog"></span></div>
                            <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/Admin:Configuration">System Settings</a></div>
                         </div>
                      </div>
                      <div class="col-md-3 col-xs-6">
                         <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                            <div class="panel-body"><span class="fa fa-database"></span></div>
                            <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/Admin:Repositories">Repositories</a></div>
                         </div>
                      </div>
                      <div class="col-md-3 col-xs-6">
                         <div class="text-center panel panel-default admin-icon-panel" draggable="true">
                            <div class="panel-body"><span class="fa fa-users"></span></div>
                            <div class="panel-footer text-truncate" style="position: relative;"><a href="/resource/Admin:Security">Security</a></div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-xs-12">
                         <h2 class="admin-title">System Management</h2>
                      </div>
                      <div class="admin-system-manag_container col-xs-12"><i class="rs-icon rs-icon-terminal"></i><a href="/resource/Admin:Logs" title="http://www.researchspace.org/resource/admin/Logs" class="" target="_self" draggable="true">
                         Logs
                         </a>
                      </div>
                      <div class="admin-system-manag_container col-xs-12">
                         <div>
                            <button type="submit" class="btn-cache btn btn-default"><i class="fa fa-history"></i>Invalidate All Caches</button>
                            <div class="alert-component alert-component__none"></div>
                         </div>
                         <i class="fa fa-question-circle" aria-hidden="true" style="margin-left: 5px; font-size: 15px;"></i>
                      </div>
                      <div class="admin-system-manag_container danger col-xs-12">
                         <div class="restart-no-permission">
                            <i class="fa fa-power-off"></i>
                            <div>Restart Platform: No permission to restart the platform
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>