<div class="site-footer">
   <div id="footer-widgets" class="site footer-widgets">
      <div class="footer-widgets-container">
         <div class="inside-footer-widgets">
            <div class="footer-widget-1">
               <aside id="block-16" class="widget inner-padding widget_block widget_media_image">
                  <div class="wp-block-image">
                     <figure class="aligncenter size-thumbnail is-resized"><a href="https://www.themorgan.org/" target="_blank" rel=" noreferrer noopener"><img decoding="async" loading="lazy" src="https://bellegreene.francescocipriani.com/wp-content/uploads/2023/03/black_Morgan-2-150x150.png" alt="" class="wp-image-697" width="75" height="75" srcset="https://bellegreene.francescocipriani.com/wp-content/uploads/2023/03/black_Morgan-2-150x150.png 150w, https://bellegreene.francescocipriani.com/wp-content/uploads/2023/03/black_Morgan-2-300x300.png 300w, https://bellegreene.francescocipriani.com/wp-content/uploads/2023/03/black_Morgan-2.png 512w" sizes="(max-width: 75px) 100vw, 75px"></a></figure>
                  </div>
               </aside>
            </div>
            <div class="footer-widget-2">
               <aside id="block-12" class="widget inner-padding widget_block widget_text">
                  <p class="has-text-align-center" style="font-size:11px">This website presents high-resolution images and full-text transcriptions of Belle Greene’s 600+ letters to Bernard Berenson. Phase One, amounting to the first fifty letters, is currently available, with the remainder of the correspondence slated to be published online by October 2024. High resolution images for the entire corpus of Greene's letters to Berenson can be accessed through the <a href="https://hollisarchives.lib.harvard.edu/repositories/10/archival_objects/2167675">Bernard and Mary Berenson Papers Finding Aid.</a></p>
               </aside>
            </div>
            <div class="footer-widget-3">
               <aside id="block-17" class="widget inner-padding widget_block widget_media_image">
                  <div class="wp-block-image">
                     <figure class="aligncenter size-thumbnail is-resized"><a href="http://itatti.harvard.edu/" target="_blank" rel=" noreferrer noopener"><img decoding="async" loading="lazy" src="https://bellegreene.francescocipriani.com/wp-content/uploads/2023/03/itatti-logo-150x150.png" alt="" class="wp-image-684" width="75" height="75" srcset="https://bellegreene.francescocipriani.com/wp-content/uploads/2023/03/itatti-logo-150x150.png 150w, https://bellegreene.francescocipriani.com/wp-content/uploads/2023/03/itatti-logo-300x300.png 300w, https://bellegreene.francescocipriani.com/wp-content/uploads/2023/03/itatti-logo.png 512w" sizes="(max-width: 75px) 100vw, 75px"></a></figure>
                  </div>
               </aside>
            </div>
         </div>
      </div>
   </div>
   <footer class="site-info" aria-label="Site" itemtype="https://schema.org/WPFooter" itemscope="">
      <div class="inside-site-info">
         <div class="copyright-bar">
            Villa I Tatti, The Harvard University Center for Italian Renaissance Studies    |   Via di Vincigliata 26, 50135 Florence, Italy<br>
            © 2023  President and Fellows of Harvard College   |    Privacy Policy	
            	
         </div>
         <a href="/resource/rsp:admin" class="admin-login-button" style="background-color: #3A393A;">Admin Login</a>		
      </div>
   </footer>
</div>