<header class="site-header has-inline-mobile-toggle" id="masthead">
  <meta charset="UTF-8">
		<title>Belle Greene – The Letters of Belle da Costa Greene and Bernard Berenson</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/assets/styles/header.css"/>
		<link rel="stylesheet" id="generate-widget-areas-css" href="https://bellegreene.francescocipriani.com/wp-content/themes/generatepress/assets/css/components/widget-areas.min.css?ver=3.3.0" media="all">
		<link rel="stylesheet" id="generate-style-css" href="https://bellegreene.francescocipriani.com/wp-content/themes/generatepress/assets/css/main.min.css?ver=3.3.0" media="all">
		<link rel="stylesheet" id="generate-child-css" href="/assets/styles/admin.css" media="all">
		<link rel="stylesheet" id="generate-google-fonts-css" href="https://fonts.googleapis.com/css?family=Montserrat%3A300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;display=auto&amp;ver=3.3.0" media="all">
		<link rel="stylesheet" id="generateblocks-css" href="https://bellegreene.francescocipriani.com/wp-content/uploads/generateblocks/style-2.css?ver=1694620064" media="all">
		<link rel="stylesheet" id="generate-offside-css" href="https://bellegreene.francescocipriani.com/wp-content/plugins/gp-premium/menu-plus/functions/css/offside.min.css?ver=2.3.1" media="all">
    <link href="https://fonts.googleapis.com" crossorigin="" rel="preconnect">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<div class="inside-header">
			<div class="site-logo">
				<a href="/resource/rsp:Start" rel="home">
					<img class="header-image is-logo-image" alt="Belle Greene" src="/assets/images/start/logo-headerbb-sx.png" width="640" height="115">
				</a>
			</div>
			<nav class="has-sticky-branding main-navigation has-menu-bar-items sub-menu-right stuckElement" id="site-navigation" aria-label="Primary" itemtype="https://schema.org/SiteNavigationElement" itemscope="" style="">
				<div class="inside-navigation">
					<div class="navigation-branding"><div class="sticky-navigation-logo">
						<a href="/resource/rsp:Start" title="Belle Greene" rel="home">
							<img src="/assets/images/start/logo-headerbb-sx.png" class="is-logo-image" alt="Belle Greene" width="640" height="115">
						</a>
					</div>
				</div>
				<div id="primary-menu" class="main-nav">
					<ul id="menu-main-menu" class=" menu sf-menu">
						<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-41">
							<a href="#">About<span role="presentation" class="dropdown-menu-toggle"><span class="gp-icon icon-arrow"><svg viewBox="0 0 330 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><path d="M305.913 197.085c0 2.266-1.133 4.815-2.833 6.514L171.087 335.593c-1.7 1.7-4.249 2.832-6.515 2.832s-4.815-1.133-6.515-2.832L26.064 203.599c-1.7-1.7-2.832-4.248-2.832-6.514s1.132-4.816 2.832-6.515l14.162-14.163c1.7-1.699 3.966-2.832 6.515-2.832 2.266 0 4.815 1.133 6.515 2.832l111.316 111.317 111.316-111.317c1.7-1.699 4.249-2.832 6.515-2.832s4.815 1.133 6.515 2.832l14.162 14.163c1.7 1.7 2.833 4.249 2.833 6.515z"></path></svg></span></span></a>
							<ul class="sub-menu">
								<li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a href="/resource/rsp:Introduction">Introduction</a></li>
								<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/resource/rsp:PurposeandRationale">Purpose and Rationale</a></li>
								<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="/resource/rsp:Belle_Greenes_handwriting">Belle Greene’s Handwriting</a></li>
								<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="/resource/rsp:ProjectStaff">Project Staff</a></li>
							</ul>
						</li>
						<li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-51"><a href="#">Research<span role="presentation" class="dropdown-menu-toggle"><span class="gp-icon icon-arrow"><svg viewBox="0 0 330 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><path d="M305.913 197.085c0 2.266-1.133 4.815-2.833 6.514L171.087 335.593c-1.7 1.7-4.249 2.832-6.515 2.832s-4.815-1.133-6.515-2.832L26.064 203.599c-1.7-1.7-2.832-4.248-2.832-6.514s1.132-4.816 2.832-6.515l14.162-14.163c1.7-1.699 3.966-2.832 6.515-2.832 2.266 0 4.815 1.133 6.515 2.832l111.316 111.317 111.316-111.317c1.7-1.699 4.249-2.832 6.515-2.832s4.815 1.133 6.515 2.832l14.162 14.163c1.7 1.7 2.833 4.249 2.833 6.515z"></path></svg></span></span></a>
							<ul class="sub-menu">
								<li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="/resource/rsp:Themes">Themes</a></li>
								<li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="/resource/rsp:BelleGreeneResources">Belle Greene Resources</a></li>
								<li id="menu-item-895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-895"><a href="/resource/rsp:BernardBerensonResources">Bernard Berenson Resources</a></li>
							</ul>
						</li>
						<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="/resource/rsp:Letters">Letters</a></li>
						<li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-60"><a href="#">People<span role="presentation" class="dropdown-menu-toggle"><span class="gp-icon icon-arrow"><svg viewBox="0 0 330 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"><path d="M305.913 197.085c0 2.266-1.133 4.815-2.833 6.514L171.087 335.593c-1.7 1.7-4.249 2.832-6.515 2.832s-4.815-1.133-6.515-2.832L26.064 203.599c-1.7-1.7-2.832-4.248-2.832-6.514s1.132-4.816 2.832-6.515l14.162-14.163c1.7-1.699 3.966-2.832 6.515-2.832 2.266 0 4.815 1.133 6.515 2.832l111.316 111.317 111.316-111.317c1.7-1.699 4.249-2.832 6.515-2.832s4.815 1.133 6.515 2.832l14.162 14.163c1.7 1.7 2.833 4.249 2.833 6.515z"></path></svg></span></span></a>
							<ul class="sub-menu">
								<li id="menu-item-353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353"><a href="/resource/rsp:BelleDaCostaGreene">Belle da Costa Greene</a></li>
								<li id="menu-item-668" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-668"><a href="/resource/rsp:BernardBerenson">Bernard Berenson</a></li>
								<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="/resource/rsp:PeopleMentioned">People mentioned in the letters</a></li>
							</ul>
						</li>
					</ul>
				</div>
                </div>
			</nav>
			<semantic-simple-search
			query='
				SELECT ?label ?resource WHERE {
					?resource a <https://belle-greene.com/resource/custom/Letter>.
					?resource rdfs:label ?label.
					FILTER REGEX(?label, ?__token__, "i")
				} LIMIT 10
			'
			resource-binding-name="resource"
			input-placeholder='Search'
			min-search-term-length="3"
			></semantic-simple-search>
      <mp-overlay-dialog title="Menu" class="mobile-menu">
        <mp-overlay-dialog-trigger>
					<label class="dropdown-button">
						<svg viewBox="0 0 512 512" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em">
							<path d="M0 96c0-13.255 10.745-24 24-24h464c13.255 0 24 10.745 24 24s-10.745 24-24 24H24c-13.255 0-24-10.745-24-24zm0 160c0-13.255 10.745-24 24-24h464c13.255 0 24 10.745 24 24s-10.745 24-24 24H24c-13.255 0-24-10.745-24-24zm0 160c0-13.255 10.745-24 24-24h464c13.255 0 24 10.745 24 24s-10.745 24-24 24H24c-13.255 0-24-10.745-24-24z"></path>
						</svg>
					</label>
				</mp-overlay-dialog-trigger>
      <mp-overlay-dialog-content>
        	<div id="primary-menu" class="main-nav">
					<ul id="menu-main-menu" class=" menu sf-menu">
						<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-41">
							<input type="checkbox" id="about-toggle" class="menu-toggle">
							<label for="about-toggle">About</label>
							<ul class="sub-menu">
								<li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a href="/resource/rsp:Introduction">Introduction</a></li>
								<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/resource/rsp:PurposeandRationale">Purpose and Rationale</a></li>
								<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="/resource/rsp:Belle_Greenes_handwriting">Belle Greene’s Handwriting</a></li>
								<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="/resource/rsp:ProjectStaff">Project Staff</a></li>
							</ul>
						</li>
						<li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-51">
							<input type="checkbox" id="research-toggle" class="menu-toggle">
          		<label for="research-toggle">Research</label>
							<ul class="sub-menu">
								<li id="menu-item-54" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-54"><a href="/resource/rsp:Themes">Themes</a></li>
								<li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="/resource/rsp:BelleGreeneResources">Belle Greene Resources</a></li>
								<li id="menu-item-895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-895"><a href="/resource/rsp:BernardBerensonResources">Bernard Berenson Resources</a></li>
							</ul>
						</li>
						<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
							<label for="letters-toggle">Letters</label>
						<li id="menu-item-60" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-60">
							<input type="checkbox" id="people-toggle" class="menu-toggle">
          		<label for="people-toggle">People</label>
							<ul class="sub-menu">
								<li id="menu-item-353" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-353"><a href="/resource/rsp:BelleDaCostaGreene">Belle da Costa Greene</a></li>
								<li id="menu-item-668" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-668"><a href="/resource/rsp:BernardBerenson">Bernard Berenson</a></li>
								<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="/resource/rsp:PeopleMentioned">People mentioned in the letters</a></li>
							</ul>
						</li>
					</ul>
				</div>
        </mp-overlay-dialog-content>
      </mp-overlay-dialog>
    </div>
</header>